<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>글을 수정하세요</h1>
  <form action="/articles/{{ article_pk }}/update/">
    <label for="title_2">제목: </label>
    <input id="title_2" type="text" name="title_2" value="{{ article.title }}"><br>
    <label for="content_2">내용 : </label>
    <textarea name="content_2" id="content_2">{{ article.content }}</textarea><br>
    <input type="submit" value="작성하기!">
  </form>
</body>
</html>